﻿<div class="panel panel-primary">
    <div class="panel-heading text-center">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/bislogo.gif"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Joshua Fair</h3>

            <div class="text-center">
                <a href="https://gitlab.com/darkphenyx/VIN-API-Demo.git">https://gitlab.com/darkphenyx/VIN-API-Demo.git</a>
            </div>
        </div>
    </div>
</div>