<div class="panel panel-warning">
    <div class="panel-heading text-center">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/bislogo.gif"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center"><h3>VIN Number:</h3></div>
            <h3 class="text-center"><input type="text" [(ngModel)]='listFilter'/></h3>
            <div class="row">
                <div class="text-center">
                    <div class="row" *ngIf="listFilter">
                        <h4>VIN to search: {{listFilter}}</h4>
                        <br>
                        <button class="btn btn-primary" [routerLink]="['VinDetail',{id: listFilter}]">
                            Click Me
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <a href="https://gitlab.com/darkphenyx/VIN-API-Demo.git">https://gitlab.com/darkphenyx/VIN-API-Demo.git</a>
            </div>
        </div>
    </div>
</div>