<div class='panel panel-primary' *ngIf='vin'>

    <div class='panel-heading text-center' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <div class="row row-odd">
                    <div class="col-md-5">Make:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.make}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">Model Year:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.modelYear}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Model:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.model}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">Trim:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.trim}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Series:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.series}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">Engine Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.engineType}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Fuel Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.fuelType}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">Body Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.bodyType}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Doors:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.doors}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">Gross Weight:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.grossWgt}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Vehicle Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.vehicleType}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">NCIC Make:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.ncicMake}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">Hybrid:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.hybridInd == 0 ? 'No' : 'Yes'}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5">NCIC Nodel:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.ncicModel}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5">VIN:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.vin}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5" style="white-space: nowrap;">TN Clerk Body Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.tnclerkBodyType}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5" style="white-space: nowrap;">TN Clerk Fuel Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.tnclerkFuelType}}</div>
                </div>
                <div class="row row-even">
                    <div class="col-md-5" style="white-space: nowrap;">TN Clerk Vehicle Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.tnclerkVehicleType}}</div>
                </div>
                <div class="row row-odd">
                    <div class="col-md-5" style="white-space: nowrap;">TN CLerk Weight Type:</div>
                    <div class="col-md-3" style="white-space: nowrap;">{{vin.tnClerkWeightType}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>

</div>
<div class='panel panel-primary' *ngIf='!vin'>
    <div class='panel-heading text-center' style='font-size:large'>
    Invalid VIN
    </div>
    <div class='has-error text-center' *ngIf='errorMessage'>{{errorMessage}}</div>
    <div class="has-error text-center">Try going back and double check your VIN please.</div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>